@font-face {
  font-family: 'ProximaNovaCond-Light';
  src: url('/assets/fonts/proxima/light/ProximaNovaCond-Light.eot');
  src: url('/assets/fonts/proxima/light/ProximaNovaCond-Light.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/proxima/light/ProximaNovaCond-Light.woff2') format('woff2'),
       url('/assets/fonts/proxima/light/ProximaNovaCond-Light.woff') format('woff'),
       url('/assets/fonts/proxima/light/ProximaNovaCond-Light.ttf') format('truetype'),
       url('/assets/fonts/proxima/light/ProximaNovaCond-Light.svg#ProximaNovaCond-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

