@font-face {
  font-family: 'PTSerif-Regular';
  src: url('/assets/fonts/ptserif/regular/PTSerif-Regular.woff') format('woff'),
       url('/assets/fonts/ptserif/regular/PTSerif-Regular.ttf') format('truetype'),
       url('/assets/fonts/ptserif/regular/PTSerif-Regular.svg#PTSerif-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerif-Regular2';
  src: url('/assets/fonts/ptserif/regular/pt-serif_[allfont.ru].eot');
  src: url('/assets/fonts/ptserif/regular/pt-serif_[allfont.ru].eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/ptserif/regular/pt-serif_[allfont.ru].woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

