@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('/assets/fonts/proxima/bold/ProximaNova-Bold.eot');
  src: url('/assets/fonts/proxima/bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/proxima/bold/ProximaNova-Bold.woff2') format('woff2'),
       url('/assets/fonts/proxima/bold/ProximaNova-Bold.woff') format('woff'),
       url('/assets/fonts/proxima/bold/ProximaNova-Bold.ttf') format('truetype'),
       url('/assets/fonts/proxima/bold/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

