@font-face {
  font-family: 'assets/fonts/proxima/thin/ProximaNovaCond-Thin';
  src: url('assets/fonts/proxima/thin/ProximaNovaCond-Thin.eot');
  src: url('assets/fonts/proxima/thin/ProximaNovaCond-Thin.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/proxima/thin/ProximaNovaCond-Thin.woff2') format('woff2'),
       url('assets/fonts/proxima/thin/ProximaNovaCond-Thin.woff') format('woff'),
       url('assets/fonts/proxima/thin/ProximaNovaCond-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

