@font-face {
    font-family: 'PT Serif';
    src: local('PT Serif'), local('PTSerif-Regular'), url('/assets/fonts/ppt/ptserif.woff2') format('woff2'), url('ptserif.woff') format('woff'), url('/assets/fonts/ppt/ptserif.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PT Serif';
    src: local('PT Serif Italic'), local('PTSerif-Italic'), url('/assets/fonts/ppt/ptserifitalic.woff2') format('woff2'), url('/assets/fonts/ppt/ptserifitalic.woff') format('woff'), url('/assets/fonts/ppt/ptserifitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'PT Serif';
    src: local('PT Serif Bold'), local('PTSerif-Bold'), url('/assets/fonts/ppt/ptserifbold.woff2') format('woff2'), url('/assets/fonts/ppt/ptserifbold.woff') format('woff'), url('/assets/fonts/ppt/ptserifbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PT Serif';
    src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url('/assets/fonts/ppt/ptserifbolditalic.woff2') format('woff2'), url('/assets/fonts/ppt/ptserifbolditalic.woff') format('woff'), url('/assets/fonts/ppt/ptserifbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
