
<footer id="footer" class="footer">
	<div class="wrap">
		<div class="table w100">
			<div class="row">
				<div class="cell footer-copy"><a href="http://legion.info/" target="_blank"><img src="/assets/img/copyright.png" alt=""/></a>
					<div>© ИНТЕРНЕТ-АГЕНТСТВО «ЛЕГИОН»<br/>2011-2016</div>
				</div>
				<div class="cell footer-social center"><a href="http://vk.com/legionspb" target="_blank" rel="nofollow"><i class="fa fa-vk"></i></a><a href="http://instagram.com/legion_digital" target="_blank" rel="nofollow"><i class="fa fa-instagram"></i></a><a href="https://www.facebook.com/legionspb" target="_blank" rel="nofollow"><i class="fa fa-facebook"></i></a></div>
				<div class="cell header-nav footer-nav center">
					<div class="table w100">
						<ul class="row">
							<li class="cell center"><a href="/services.html">УСЛУГИ</a></li>
							<li class="cell center"><a href="/cases.html">ПОРТФОЛИО</a></li>
							<li class="cell center"><a href="/about.html">О&nbsp;КОМПАНИИ</a></li>
							<li class="cell center"><a href="/job.html">ВАКАНСИИ</a></li>
							<li class="cell center"><a href="/contact.html">КОНТАКТЫ</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>