
<header id="header" class="header default">
	<div class="wrap">
		<div class="table">
			<div class="row">
				<div class="cell header-logo"><a href="/index.html"><img src="/assets/img/logomda-white.png" alt=""/></a></div>
				<div class="cell header-nav center">
					<div class="table w100">
						<ul class="row">
							<li class="cell"><a href="/services.html">УСЛУГИ</a></li>
							<li class="cell"><a href="/cases.html">ПОРТФОЛИО</a></li>
							<li class="cell"><a href="/about.html">О КОМПАНИИ</a></li>
							<li class="cell"><a href="/job.html">ВАКАНСИИ</a></li>
							<li class="cell"><a href="/contact.html">КОНТАКТЫ</a></li>
						</ul>
					</div>
				</div>
				<div class="cell header-btn"><a href="#order" class="btn light fancy">Заказать услугу</a></div>
			</div>
		</div>
	</div>
</header>