<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="format-detection" content="telephone=no">
		
		<title>{{title}}</title>
		<link rel="stylesheet" href="/assets/css/css.css">
		<!--if lt IE 9
		script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
		script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
		-->
	</head>
	<body>
		<div id="page" class="page">
			<header id="header" class="header default">
				<div class="wrap">
					<div class="table">
						<div class="row">
							<div class="cell header-logo"><a href="/index.html"><img src="/assets/img/logomda-white.png" alt=""></a></div>
							<div class="cell header-nav center">
								<div class="table w100">
									<ul class="row">
										<li class="cell"><a href="/services.html">УСЛУГИ</a></li>
										<li class="cell"><a href="/cases.html">ПОРТФОЛИО</a></li>
										<li class="cell"><a href="/about.html">О КОМПАНИИ</a></li>
										<li class="cell"><a href="/job.html">ВАКАНСИИ</a></li>
										<li class="cell"><a href="/contact.html">КОНТАКТЫ</a></li>
									</ul>
								</div>
							</div>
							<div class="cell header-btn"><a href="#order" class="btn light fancy">Заказать услугу</a></div>
						</div>
					</div>
				</div>
			</header>
			<section id="content" class="content">
			</section>
			<footer id="footer" class="footer">
				<div class="wrap">
					<div class="table w100">
						<div class="row">
							<div class="cell footer-copy"><a href="http://legion.info/" target="_blank"><img src="/assets/img/copyright.png" alt=""></a>
								<div>© ИНТЕРНЕТ-АГЕНТСТВО «ЛЕГИОН»<br>2011-2016</div>
							</div>
							<div class="cell footer-social center"><a href="http://vk.com/legionspb" target="_blank" rel="nofollow"><i class="fa fa-vk"></i></a><a href="http://instagram.com/legion_digital" target="_blank" rel="nofollow"><i class="fa fa-instagram"></i></a><a href="https://www.facebook.com/legionspb" target="_blank" rel="nofollow"><i class="fa fa-facebook"></i></a></div>
							<div class="cell header-nav footer-nav center">
								<div class="table w100">
									<ul class="row">
										<li class="cell center"><a href="/services.html">УСЛУГИ</a></li>
										<li class="cell center"><a href="/cases.html">ПОРТФОЛИО</a></li>
										<li class="cell center"><a href="/about.html">О&nbsp;КОМПАНИИ</a></li>
										<li class="cell center"><a href="/job.html">ВАКАНСИИ</a></li>
										<li class="cell center"><a href="/contact.html">КОНТАКТЫ</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<div class="hidden">
				<div id="order" class="job-3">
					<div class="job-thx"><a href="#" class="fancy-close"><i class="fa fa-times"></i></a>
						<div class="job-form-title">Спасибо</div>
						<div class="job-form-lowtitle">Мы вам скоро перезвоним</div>
					</div>
					<div class="job-form"><a href="#" class="fancy-close"><i class="fa fa-times"></i></a>
						<div class="job-form-title">свяжитесь с нами</div>
						<div class="job-form-lowtitle">Мы отвечаем на все заявки без исключения</div>
						<form method="post" enctype="multipart/form-data">
							<div class="table">
								<div class="row">
									<div class="cell">
										<div>
											<input type="text" name="name" required="required" placeholder="Имя" class="w100">
										</div>
										<div>
											<input type="text" name="email" placeholder="Эл. почта" class="w100 email">
										</div>
										<div>
											<input type="text" name="phone" required="required" placeholder="+7 (900) 000-00-00" class="w100 phones">
										</div>
									</div>
									<div class="cell">
										<textarea placeholder="Комментарий" name="text"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="cell">
										<div class="fileinput">
											<div class="fileinput-file"><span></span>
												<input type="file" name="file" placehoder="Имя">
												<input type="hidden" name="file_name" class="filename">
												<input type="hidden" name="file_path" class="filepath">
												<input type="hidden" name="file_format" class="fileformat"><a href="#"><i class="fa fa-paperclip"></i><span>Прикрепить файл</span></a>
											</div><span>не более 20 Мб</span>
										</div>
									</div>
									<div class="cell">
										<button class="btn">Отправить</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div id="brending" class="job-4">
					<div class="job-thx"><a href="#" class="fancy-close"><i class="fa fa-times"></i></a>
						<div class="job-form-title">Спасибо</div>
						<div class="job-form-lowtitle">Мы вам скоро перезвоним</div>
					</div><a href="#" class="fancy-close"><i class="fa fa-times"></i></a>
					<div class="job-form">
						<div class="job-form-title">Брендинг</div>
						<form action="">
							<div class="table">
								<div class="row">
									<div class="cell">
										<div><span class="job-form-quest">Существует ли у вас фирменный стиль?</span><br>
											<input type="text" name="brend-1" required placeholder="Нет, но нам он необходим." class="w100">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="cell">
										<div><span class="job-form-quest">Есть ли у вас веб-ресурс?</span><br>
											<input type="text" name="brend-2" required placeholder="Есть, но его функционал нас не полностью устраивает..." class="w100">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="cell">
										<div><br>
											<input type="text" name="brend-3" required placeholder="Оставьте ваш номер телефона или почту" class="w100">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="cell"><br><br>
										<button class="btn">Отправить</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div id="web" class="job-4">
					<div class="job-thx"><a href="#" class="fancy-close"><i class="fa fa-times"></i></a>
						<div class="job-form-title">Спасибо</div>
						<div class="job-form-lowtitle">Мы вам скоро перезвоним</div>
					</div><a href="#" class="fancy-close"><i class="fa fa-times"></i></a>
					<div class="job-form">
						<div class="job-form-title">ВЕБ-РАЗРАБОТКА</div>
						<form action="">
							<div class="table">
								<div class="row">
									<div class="cell">
										<div><span class="job-form-quest">Есть ли у вас веб-ресурс?</span><br>
											<input type="text" name="web-1" required placeholder="Есть, но его функционал нас не полностью устраивает..." class="w100">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="cell">
										<div><span class="job-form-quest">Существует ли у вас фирменный стиль?</span><br>
											<input type="text" name="web-2" required placeholder="Да, но хотелось бы его пересмотреть…" class="w100">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="cell">
										<div><br>
											<input type="text" name="web-3" required placeholder="Оставьте ваш номер телефона или почту" class="w100">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="cell"><br><br>
										<button class="btn">Отправить</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div id="marketing" class="job-4">
					<div class="job-thx"><a href="#" class="fancy-close"><i class="fa fa-times"></i></a>
						<div class="job-form-title">Спасибо</div>
						<div class="job-form-lowtitle">Мы вам скоро перезвоним</div>
					</div><a href="#" class="fancy-close"><i class="fa fa-times"></i></a>
					<div class="job-form">
						<div class="job-form-title">Интернет-маркетинг</div>
						<form action="">
							<div class="table">
								<div class="row">
									<div class="cell">
										<div><span class="job-form-quest">Используете ли вы SMM?</span><br>
											<input type="text" name="marketing-1" required placeholder="Нет, но хотелось бы..." class="w100">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="cell">
										<div><span class="job-form-quest">Используете ли вы SEO-оптимизацию?</span><br>
											<input type="text" name="marketing-2" required placeholder="Да, но хотелось бы большего эффекта..." class="w100">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="cell">
										<div> <br>
											<input type="text" name="marketing-3" required placeholder="Оставьте ваш номер телефона или почту" class="w100">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="cell"><br><br>
										<button class="btn">Отправить</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div id="mobile" class="job-4">
					<div class="job-thx"><a href="#" class="fancy-close"><i class="fa fa-times"></i></a>
						<div class="job-form-title">Спасибо</div>
						<div class="job-form-lowtitle">Мы вам скоро перезвоним</div>
					</div><a href="#" class="fancy-close"><i class="fa fa-times"></i></a>
					<div class="job-form">
						<div class="job-form-title">Мобильные приложения</div>
						<form action="">
							<div class="table">
								<div class="row">
									<div class="cell">
										<div><span class="job-form-quest">Есть ли у вас веб-ресурс?</span><br>
											<input type="text" name="mobile-1" required placeholder="Да, но..." class="w100">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="cell">
										<div><span class="job-form-quest">Существует ли у вас фирменный стиль?</span><br>
											<input type="text" name="mobile-1" required placeholder="Нет, но нам он необходим." class="w100">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="cell">
										<div> <br>
											<input type="text" name="mobile-1" required placeholder="Оставьте ваш номер телефона или почту" class="w100">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="cell"><br><br>
										<button class="btn">Отправить</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div><!-- import scripts -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
			<script src="/assets/js/default_libs_script.min.js"></script>
		</div>
	</body>
</html>