@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('/assets/fonts/proxima/regular/ProximaNova-Regular.eot');
  src: url('/assets/fonts/proxima/regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/proxima/regular/ProximaNova-Regular.woff2') format('woff2'),
       url('/assets/fonts/proxima/regular/ProximaNova-Regular.woff') format('woff'),
       url('/assets/fonts/proxima/regular/ProximaNova-Regular.ttf') format('truetype'),
       url('/assets/fonts/proxima/regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

